coverage/
dist/
node_modules/

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

**/_drafts

.idea
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
